.container{
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice{
    text-align: center;
    display: inline-block;


}

body{

    background-color: aquamarine;
}

h1{
    margin: 30px;
    font-family: 'Lobster',cursive;
    text-shadow: 5px 0 #232931;
    font-size: 7rem;
    color: blueviolet;
    
}

p{
    font-size: 2rem;
    color: blue;
    font-family: 'Indie Flower',cursive;

}

img{
    width: 50%;
}